name: wntt

services:
    app:
        container_name: app-c
        image: wnttapp:arm
        ports:
            # Must be identical for dev, else importing local images fails - vite bug?
            - 3001:3001
        restart: unless-stopped
        volumes:
            # For Hot Module Replacement (hmr), mount the src code.
            # Path is relative to the location of this yml file
            - ../wnttapp/src:/app/src

    api:
        container_name: api-c
        image: wnttapi:arm
        environment:
            DJANGO_SETTINGS_MODULE: project.settings.dev
            SECRET_KEY: ${DJANGO_KEY}
            CDMO_USER: ${CDMO_USER}
            CDMO_PASSWORD: ${CDMO_PASSWORD}
            GEOCODE_KEY: ${GEOCODE_KEY}
        ports:
            - 8000:8001
        restart: unless-stopped
        volumes:
            # Path is relative to the location of this yml file
            - ../datamount:/data
