name: wntt

# This is a RUN-ONLY compose.  All building is done on dev machine, and images pushed to DockerHub.

services:
    appstaging:
        image: gordo169/wnttapp-s:amd
        container_name: app-c-staging
        environment:
            NODE_ENV: production
            VITE_GEOCODE_KEY: ${VITE_GEOCODE_KEY}
        ports:
            - 82:8082
        restart: unless-stopped
        volumes:
            - /var/log/wntt-staging:/var/log/nginx
        # Uncomment to allow quick debugging
        #  - /home/tides/nginx:/etc/nginx/conf.d

    apistaging:
        image: gordo169/wnttapi-s:amd
        environment:
            DJANGO_SETTINGS_MODULE: project.settings.prod
            SECRET_KEY: ${DJANGO_KEY}
            CDMO_USER: ${CDMO_USER}
            CDMO_PASSWORD: ${CDMO_PASSWORD}

            API_ALLOWED_HOST: api-c-staging
        container_name: api-c-staging
        # No ports. container will listen on 8081, but it's only accessible via the proxy
        restart: unless-stopped
        volumes:
            - /home/tides/surge/data:/surgedata
            - /var/log/wntt-staging:/var/log/wntt
