*.zip
*.log
*.xlsx
*.swp
*.bin
*.ipynb
*.tar
.version-dev
.env
.env.*
.astro
.vscode/
datamount/
!.vscode/extensions.json
remote/setup
node_modules/
.ipyb_checkpoints/
staticfiles/
coverage/
mytools/
surge-data/
.DS_Store
.idea/
.venv/
__pycache__
__init__.py
dist
.DS_Store
FileVaultMaster.*
