*.zip
*.log
*.xlsx
*.swp
*.bin
*.ipynb
*.tar
.env
.env.*
.astro
.vscode/
!.vscode/extensions.json
remote/setup
node_modules/
.ipyb_checkpoints/
staticfiles/
coverage/
scripts/
surge-data/
.DS_Store
.idea/
.venv/
__pycache__
__init__.py
node_modules
dist
signature.json
.buildnum*
.DS_Store
