*.zip
*.log
*.xlsx
*.swp
*.bin
*.ipynb
*.tar
.buildnum-dev
.env
.env.*
.astro
.vscode/
datamount/
!.vscode/extensions.json
remote/setup
node_modules/
.ipyb_checkpoints/
staticfiles/
coverage/
scripts/
surge-data/
.DS_Store
.idea/
.venv/
__pycache__
__init__.py
wnttapi/version.json
dist
.DS_Store
FileVaultMaster.*
