.about-build {
    text-align: end;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--med-blue);
    font-weight: bold;
}

.accordion-button {
    font-weight: bold;
}
