* {
    --federal-blue: #140d4f;
    --steel-blue: #347fc4;
    --powder-blue: #c9def3;
    --platinum: #dae3e5;
    --med-blue: hsla(215, 34%, 54%, 0.815);
    --deep-blue: #003d79;
    --bright-blue: #000dff;
    --dusk-blue: #3d5a7b;

    --partial-gray: rgba(60, 60, 60, 0.7);

    --link-light-hover: var(--bright-blue);
    --theme-1: var(--federal-blue);
    --title-1: var(--deep-blue);
    --dark-background-1: var(--steel-blue);
    --light-background-1: var(--powder-blue);
    --light-background-2: var(--platinum);
    --light-background-3: hsl(200, 40%, 65%);
    --light-background-4: hsl(200, 40%, 85%);
    --med-background-1: var(--med-blue);
    --med-background-2: var(--dusk-blue);
}

html {
    min-height: 100%;
}

body {
    background-color: var(--light-background-1);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Smaller x-gutters on small screens. */
@media (width < 768px) {
    .col {
        --bs-gutter-x: 0.5rem;
    }
}

/* This frames the entire app, and allows us to use a background on the section
beneath the top header area that covers the full height of the viewport */
.app-box {
    display: flex;
    flex-direction: column;
    height: 100vh; /* This is essential for bg to cover full height */
}

.app-box-top {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    line-height: 12px;
    background-color: var(--light-background-1);
}

.app-box-bottom {
    background-color: var(--light-background-2); /* default */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
/* Define some different backgrounds for some pages */
.app-box-bottom.graph-page,
.app-box-bottom.about-page {
    background-color: var(--light-background-3);
}
.app-box-bottom.glossary-page,
.app-box-bottom.help-syzygy-page {
    background-color: var(--light-background-4);
}

a {
    text-decoration: none;
    font-weight: bold;
}

/* For making any element have a pointer cursor */
.pointer {
    cursor: pointer;
}

/* For Button variant, can say "variant=custom-primary" instead of using className... */
.btn-custom-primary {
    color: white;
    background: var(--theme-1);
    border-radius: 6px;
}

.btn-custom-primary:hover {
    color: white;
    background: var(--dusk-blue);
}

/* For text you don't want to wrap */
.nowrap {
    white-space: nowrap;
}

/* For <a> you want disabled */
.disable-pointer {
    pointer-events: none;
}

.image-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--theme-1);
    font-size: 0.9rem;
}

/* Smaller button text on smaller screens */
@media (max-width: 767px) {
    .btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 525px) {
    .btn {
        font-size: 0.75rem;
    }
}

.outblack {
    outline: 2px dashed black;
    outline-offset: -2px;
}

.outwhite {
    outline: 2px dashed white;
    outline-offset: -2px;
}

.outgreen {
    outline: 2px dashed green;
    outline-offset: -2px;
}

.outred {
    outline: 2px dashed red;
    outline-offset: -2px;
}

.borderme2 {
    /* outline: 2px dashed yellowgreen;
    outline-offset: -2px; */
}
