* {
    --federal-blue: #140d4f;
    --steel-blue: #347fc4;
    --powder-blue: hsl(210, 63%, 87%);
    --platinum: #dae3e5;
    --partial-gray: rgba(60, 60, 60, 0.7);
    --deep-blue: #003d79;
    --med-blue: #6183b1;
    --link-blue: #000dff;
}

html {
    height: 100%;
}

body {
    background-color: var(--powder-blue);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: var(--steel-blue);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var(--link-blue);
}

/* For Button variant, can say "variant=custom-primary" instead of using className... */
.btn-custom-primary {
    color: white;
    background: var(--federal-blue);
    border-radius: 6px;
}

.btn-custom-primary:hover {
    color: white;
    background: var(--steel-blue);
}

.borderme {
    outline: 2px dashed red;
    outline-offset: -2px;
}

.outblack {
    outline: 2px dashed black;
    outline-offset: -2px;
}

.outwhite {
    outline: 2px dashed white;
    outline-offset: -2px;
}

.outgreen {
    outline: 2px dashed green;
    outline-offset: -2px;
}

.outred {
    outline: 2px dashed red;
    outline-offset: -2px;
}

.borderme2 {
    /* outline: 2px dashed yellowgreen;
    outline-offset: -2px; */
}
