#conditions-modal .modal-body {
    /* override bootstrap white. If I don't use the id prefix, this override
    seems to bleed into other modals in the app. */
    background: var(--med-blue);
}

.cond-header {
    background: var(--federal-blue);
    border-bottom-width: 0;
}

.horizontal-line {
    grid-column: span 3;
    border-bottom: medium solid white;
    height: 0;
}

.links {
    grid-column: span 3;
    font-style: italic;
}

#home .links a {
    color: white;
}

#home .links a:hover {
    color: var(--federal-blue);
}

/* For popup, no bottom border */
#conditions-modal .horizontal-line {
    border-bottom: none;
}

.cond-container {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 5fr 1fr repeat(7, 5fr) 1fr 5fr; /* horiz separators are 1/5 height of data */
    background: var(--med-blue);
    font-size: 0.9rem;
}

.cond-container > * {
    color: var(--federal-blue);
    background: var(--platinum);
    padding-left: 1px;
    text-align: center;
    align-content: center;
}

.cond-container .cond-col-header {
    font-size: 0.8rem;
}

.cond-container .cond-label {
    text-align: end;
}

.cond-container .cond-data {
    font-weight: bold;
}

.cond-container .cond-time {
    font-size: 0.7rem;
    font-style: italic;
}
