#conditions-modal .modal-body {
    /* override bootstrap white. If I don't use the id prefix, this override
    seems to bleed into other modals in the app. */
    background: var(--med-background-1);
}

.cond-header {
    background: var(--theme-1);
    border-bottom-width: 0;
}

.horizontal-line {
    grid-column: span 3;
    border-bottom: medium solid white;
    height: 0;
}

.footnotes {
    grid-column: span 3;
    font-style: italic;
}

#home .footnotes a {
    color: white;
}

#home .footnotes a:hover {
    color: var(--theme-1);
}

/* For popup, no bottom border */
#conditions-modal .horizontal-line {
    border-bottom: none;
}

.cond-container {
    display: grid;
    grid-template-columns: 5fr 10fr 4fr;
    grid-template-rows: 5fr 1fr repeat(8, 5fr) 1fr 5fr 5fr; /* horiz separators are 1/5 height of data */
    background: var(--med-background-1);
    font-size: 0.9rem;
}

.cond-container > * {
    color: var(--theme-1);
    background: var(--light-background-2);
    padding-left: 1px;
    text-align: center;
    align-content: center;
}

.cond-container .cond-col-header {
    font-size: 0.8rem;
}

.cond-container .cond-label {
    text-align: end;
    white-space: nowrap;
}

.cond-container .cond-data {
    font-weight: bold;
}

.cond-container .cond-time {
    font-size: 0.7rem;
    font-style: italic;
}
