.custom-elevation {
    border: 1px solid black;
}

@media (max-width: 767px) {
    /* .options controls everthing except datepicker and buttons */
    .options {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 525px) {
    .options {
        font-size: 0.8rem;
    }
    .btn {
        font-size: 0.75rem;
    }
    /* form-control is used by the datepicker */
    .form-control {
        line-height: 1.1;
        font-size: 0.8rem;
        padding-left: 5px;
        padding-right: 5px;
    }
}
