.map-label {
    font-weight: 700;
}

.form-label {
    font-weight: 600;
}

@media (max-width: 767px) {
    .date-options {
        font-size: 0.8rem;
    }
    /* form-control is used by the datepicker */
    .form-control {
        line-height: 1.1;
        font-size: 0.8rem;
        padding-left: 5px;
        padding-right: 5px;
    }
}
