/* For xs, sm & md we prevent it from exceeding the column boundaries */
@media (max-width: 991px) {
    .pic {
        width: 50%;
    }
}

/* TODO: Here is how to disable the legend toggle! */
/* .legendtoggle {
    cursor: default;
    pointer-events: none;
} */
