/* To center the jump arrows, we have to to tweak the 
image's container, which is the anchor tag. */
.jumpdate a {
    display: flex;
    justify-content: center;
}

/* For xs, sm & md we prevent it from exceeding the column boundaries */
@media (max-width: 991px) {
    .jumpdate .pic {
        width: 60%;
    }
}

/* TODO: Here is how to disable the legend toggle! */
/* .legendtoggle {
    cursor: default;
    pointer-events: none;
} */
