/* Home screen */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url('/src/images/aerial-4.jpg');
    background-size: cover;
    background-position: top center;
}

.home .welcome {
    text-align: center;
    max-width: 60%;
    border-radius: 20px;
    color: var(--platinum);
    background: var(--partial-gray);
}

@media (max-width: 525px) {
    .home {
        background-image: url('/src/images/beach1.jpg');
    }
    .home .welcome {
        max-width: 75%;
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .home .welcome {
        font-size: 1.25rem;
    }
}

.home .welcome a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home .welcome a:hover {
    /* Don't know why this isn't picked up from App.css */
    color: var(--link-blue);
}

.home .conditions {
    max-width: 90%;
    padding: 0.5em;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    background: var(--med-blue);
}

.home .conditions .title {
    font-size: 1rem;
    font-weight: 600;
}

.home .conditions .label {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .home .conditions {
        font-size: 1.25rem;
    }
}
