/* Home screen */
.home {
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner {
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
}

.welcome {
    text-align: center;
    padding: 1em;
    border-radius: 20px;
    color: var(--platinum);
    background: var(--partial-gray);
    font-size: 1rem;
}

.welcome a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.welcome a:hover {
    /* Don't know why this isn't picked up from App.css */
    color: var(--link-blue);
}

.conditions {
    padding: 0.5em;
    border-radius: 20px;
    color: var(--platinum);
    background: var(--med-blue);
    font-size: 1rem;
}

.conditions .label {
    font-size: 0.9rem;
    color: white;
}

.conditions .data {
    font-weight: bold;
}

/* for xs & small, make it real wide */
@media (max-width: 767px) {
    .banner {
        width: 96%;
        left: 2%;
    }
    .welcome {
        font-size: 0.9rem;
    }
    .conditions {
        font-size: 0.9rem;
        font-weight: 400;
    }
}

/* For xl + screens, narrower width and larger font */
@media (min-width: 1200px) {
    .banner {
        width: 50%;
        left: 25%;
    }
    .welcome {
        font-size: 1.25rem;
    }
    .conditions {
        /* width: 60%;
        left: 20%; */
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* this keeps the logo from getting squished */
    .nav-link {
        --bs-navbar-nav-link-padding-x: 6px;
    }
}
