/* Home screen */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: top center;
}

.wells-bg {
    background-image: url('/src/images/aerial-4.jpg');
}

.other-bg {
    background-image: url('/src/images/beach1.jpg');
}

.home .welcome {
    text-align: center;
    max-width: 60%;
    border-radius: 20px;
    color: var(--platinum);
    background: var(--partial-gray);
}

.home-screen-btn {
    border-width: 4px;
    border-color: white;
    font-size: 1.3rem;
    border-radius: 15px;
}

@media (max-width: 525px) {
    .home {
        background-image: url('/src/images/beach1.jpg');
    }
    .home .welcome {
        max-width: 75%;
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) {
    .home .welcome {
        font-size: 1.25rem;
    }
}

.home .welcome a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home .welcome a:hover {
    /* Don't know why this isn't picked up from App.css */
    color: var(--link-blue);
}

.home .conditions {
    padding: 1rem;
    border-radius: 20px;
    background: var(--med-blue);
}

#home .cond-container {
    /* override Conditions.css */
    background: none;
}

#home .cond-container > * {
    /* override Conditions.css */
    color: white;
    background: none;
}

#home .conditions .title {
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

@media (max-width: 525px) {
    #home .conditions {
        padding: 5px;
    }
    #home .cond-container {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    #home .conditions {
        font-size: 1.25rem;
    }
}
