/* Adjust opacity (0.0 to 1.0) */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.instructions-container {
    font-size: 0.95rem;
    line-height: 1.2;
}

.address-container {
    background: var(--steel-blue);
    /* border: 2px solid black; */
}

/* This is used internally by leaflet, needed to define map placement */
.leaflet-container {
    height: 60vh;
    width: 90%;
}
@media (min-width: 676px) {
    .leaflet-container {
        height: 70vh;
        width: 90%;
    }
}
@media (min-width: 1200px) {
    .leaflet-container {
        width: 80%;
    }
}

/* Without this, the markers transparent images get white backgrounds and a border */
.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.my-icon {
    font-size: 2rem;
}
