#syzygy-modal .modal-body {
    /* override bootstrap white. If I don't use the id prefix, this override
    seems to bleed into other modals in the app. */
    background: var(--light-background-1);
}

.syzygy-header {
    background: var(--theme-1);
    border-bottom-width: 0;
}
