/* Top nav bar */

.navbar {
    background-color: var(--platinum);
}

.navbar-brand,
.navbar-brand:hover {
    color: var(--deep-blue);
    cursor: pointer;
}

.nav-link,
.nav-link.show {
    color: var(--deep-blue);
}

.navbar-nav .nav-link.active {
    color: var(--deep-blue);
    font-weight: bolder;
}

.exp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
