/* Kill the litle down arrows under dropdowns */
.dropdown-toggle::after {
    display: none;
}

.nav-container {
    flex-direction: row;
    flex: 1 0 0%;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
}

.main-title {
    font-size: 1rem;
    color: var(--deep-blue);
}

.current-station {
    font-size: 0.9rem;
    height: 20px; /* needed in case there's no reserve selected */
    color: var(--federal-blue);
    color: white;
    background-color: var(--dusk-blue);
}

.main-title .tide-tracker {
    line-height: 0.9;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 3px 3px 2px var(--med-blue);
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link,
.nav-link.show {
    color: var(--deep-blue);
}

.navbar-nav .nav-link.active {
    color: var(--deep-blue);
    font-weight: bolder;
}

.conditions-container {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.conditions-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--federal-blue);
    font-size: 0.9rem;
}

.conditions-img {
    border: solid;
    border-color: var(--federal-blue);
    border-radius: 10%;
    opacity: 0.2;
}

#reserve-dropdown button {
    color: white;
    background: var(--deep-blue);
    border-radius: 6px;
    padding: 2px 6px;
    margin: 1px 0px;
    font-size: 0.9rem;
    line-height: 1rem;
}

#reserve-dropdown button:hover {
    color: white;
    background: var(--med-blue);
}

/* Activate for very narrow, subset of xs */
@media (max-width: 400px) {
    .conditions-img {
        width: 25px;
    }
    .logo {
        width: 100px;
    }
    .conditions-centered {
        display: none;
    }
    .conditions-img {
        opacity: 1;
    }
}

/* Activate when small or smaller */
@media (max-width: 991px) {
    .app-box-top .hamburger-menu {
        flex-grow: 3;
    }
}

/* Activate when medium or larger */
@media (min-width: 992px) {
    .app-box-top .expanded-menu {
        flex-grow: 5;
    }
    .app-box-top .expanded-menu .nav .nav-link {
        padding-right: 4px;
    }
    .app-box-top .expanded-menu .nav .active {
        font-weight: bold;
    }
}
